
/* DETALJI KONTAKTA */

.details {
    width: 100%;
    overflow-wrap: break-word;
}

.contact-details {
    border: none;
    padding: 0;
}

.image {
    width: 50%;
    margin-top: 5rem;
}

img {
    width: 100%;
}

p {
    margin-bottom: 2rem;
}

mat-icon {
    cursor: pointer;
}

@media screen and (min-width: 768px){  
    .details {
        width: 50%
    }
    .contact-details {
        margin-top: 2rem;
        width: 85%;
        border: solid 1px rgba(0, 77, 64, 0.5);
        padding: 2rem;
        border-radius: 4px;
    }
}

