<!-- Navigation -->
<mat-toolbar class="flex" color="primary">
 
    <img *ngIf="!isAuthenticated" routerLink="" src="../../assets/logo.svg">
    <img *ngIf="isAuthenticated" routerLink="my-contacts" src="../../assets/logo.svg">
    
    <div class="navbar-links">
        <a  
            *ngIf="isAuthenticated"
            class="navbar-link" 
            routerLinkActive="active" 
            [routerLink]="['my-contacts/new-contact']" 
            mat-button>Novi kontakt</a>
        <a 
            *ngIf="isAuthenticated"
            class="navbar-link" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="my-contacts" 
            mat-button>Moji kontakti</a>
        <button 
            *ngIf="isAuthenticated" 
            class="navbar-link logout-btn btn-accent" 
            href="#" 
            mat-flat-button color="accent"
            (click)="onLogout()">Odjava</button>
        <button 
            *ngIf="!isAuthenticated" 
            class="navbar-link logout-btn btn-accent" 
            routerLinkActive="active" 
            routerLink="auth" 
            mat-flat-button color="accent">Prijava/Registracija</button>
    </div>
    <button class="hamburger-menu" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a 
            *ngIf="isAuthenticated"
            mat-menu-item
            routerLinkActive="active" 
            [routerLink]="['my-contacts/new-contact']">Novi kontakt</a>
        <a 
            *ngIf="isAuthenticated"
            mat-menu-item
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="my-contacts">Moji kontakti</a>
        <button mat-menu-item (click)="onLogout()">Odjava</button>
        <a 
            *ngIf="!isAuthenticated"
            mat-menu-item
            routerLinkActive="active" 
            routerLink="auth">Prijava/Registracija</a>
    </mat-menu>
</mat-toolbar>
