
.filter-input {
    margin-top: .5rem;
    font-size: .7rem;
}

/* TABLICA S KONTAKTIMA */

.contact-table{
        width: 100%;   
} 

@media screen and (min-width: 768px)  {
    .contact-table {
        width: 60%;   
    } 
    .contact-image {
        flex: 1;
        margin-top: 0;
        text-align: center;
    }
}
.mat-cell {
    min-width: 100px;
    padding: .7rem;
}
.mat-table {
    display: block;
    height: 300px;
    overflow-y: auto;
    overflow-x: auto;
    border: solid 1px rgba(0, 0, 0, 0.1);
}
.mat-header-cell {
    text-align: center;
    font-weight: 800;
    padding: .7rem;
}

/* PAGINACIJA */
.paginator {
    margin-top: 1rem;
    padding: 1rem;
}

::ng-deep .mat-icon-button {
    width: 30px;
}

::ng-deep .mat-paginator-range-label {
    margin: 0 32px 0 0!important;
}

/* SLIKE */
.image {
    margin-left: 2rem;
    margin-top: 5rem;
}
img {
    width: 80%;
}

.icons {
    text-align: center;
}


@media screen and (min-width: 1440px) {
    .mat-cell {
        min-width: 130px;
    }
}




