<div class="container flex">
    <div class="contact-table">
        <h1>Moji kontakti</h1>
        <button *ngIf="dataSource.data.length && !isFetching" mat-stroked-button color="accent" (click)="onDeleteAll()">Obriši sve <mat-icon>delete</mat-icon></button>
        <app-loading-spinner *ngIf="isFetching"></app-loading-spinner>
        <p *ngIf="(!dataSource.data.length && !isFetching)">Trenutno nemate spremljenih kontakata.</p>
        <div class="filter-input" *ngIf="dataSource.data.length && !isFetching">
            <mat-form-field  appearance="outline" color="accent">
                <input 
                    matInput 
                    [(ngModel)]="filterStringValue" 
                    placeholder="Filtriraj"
                    (keyup)="onFilter()">
            </mat-form-field>
        </div>

        <table [style.visibility]="(dataSource.data.length === 0 || isFetching) ? 'hidden': 'visible'" mat-table matSort [dataSource]="dataSource">
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header > Ime </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}}  </td>
            </ng-container>
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Prezime </th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}}  </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="email-col"> E-mail adresa </th>
                <td mat-cell *matCellDef="let element" class="email-col"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef  class="icons"> Vidi više </th>
                <td mat-cell style="cursor: pointer;" *matCellDef="let element; let i = index" class="icons" (click)="onDetails(i)"> Više... </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef class="icons"> Uređivanje </th>
                <td mat-cell style="cursor: pointer;" *matCellDef="let element, let i = index" class="icons" (click)="onEdit(i)"><mat-icon>edit</mat-icon></td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef  class="icons"> Brisanje </th>
                <td mat-cell style="cursor: pointer;" *matCellDef="let element, let i = index" class="icons" (click)="onDelete(i)"><mat-icon>delete</mat-icon></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="paginator">
            <mat-paginator [style.visibility]="(dataSource.data.length === 0 || isFetching) ? 'hidden': 'visible'" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons color="accent"></mat-paginator>
        </div>
        
    </div>
    <div class="image">
        <img src="../../assets/my-contacts-bcg.svg">
    </div>
</div>