
.flex {
    justify-content: space-between;
}

.filter-input {
    flex-wrap: wrap;
    
    justify-content: flex-start;
    margin-top: 1rem;
    font-size: .7rem;
}

#filterSelect, #filterInput {
    width: 100%;
}

@media screen and (min-width: 424px) {
    .filter-input {
        justify-content: space-between;
    }
    #filterSelect, #filterInput {
        width: 48%;
    }    
}

@media screen and (min-width: 541px) {
    #filterSelect, #filterInput {
        width: 10rem;
        margin-right: .5rem;
    }   
    .filter-input {
        justify-content: flex-start
    }    
}


/* SLIKE */
img {
    width: 100%;
}
.contact-image {
    max-width: 30%;
    padding-right: 1rem;
    margin-top: 5rem;
}


.icons {
    text-align: center;
}

/* TABLICA S KONTAKTIMA */

.contact-table{
        width: 100%; 
        max-width: 43.75rem;  
} 


.mat-cell {
    min-width: 7.5rem;
    padding: .7rem;
}

.mat-table {
    display: block;
    height: fit-content;
    overflow-y: hidden;
    overflow-x: auto;
    border: solid 1px rgba(0, 0, 0, 0.1);
}
.mat-header-cell {
    min-width: 7.5rem;
    text-align: center;
    font-weight: 800;
    padding: .7rem;
}

/* PAGINACIJA */
.paginator {
    margin-top: 1rem;
    padding: 1rem;
}

::ng-deep .mat-icon-button {
    width: 30px;
}

::ng-deep .mat-paginator-range-label {
    margin: 0 32px 0 0!important;
}




