
.filter-input {
    margin-top: .5rem;
    font-size: .7rem;
}

/* TABLICA S KONTAKTIMA */
.contact-table{
    width: 62vw;   
    overflow: hidden;
}
.mat-cell {
    min-width: 100px;
    padding: .7rem;
}
.mat-table {
    display: block;
    width: 100%;
    height: 300px;
    overflow-y: auto;
    overflow-x: auto;
    border: solid 1px rgba(0, 0, 0, 0.1);
}
.paginator {
    /* display: flex;
    justify-content: ; */
    margin-top: 1rem;
    padding: 1rem;
}
.mat-header-cell {
    text-align: center;
    font-weight: 800;
    padding: .7rem;
}

/* SLIKE */
.image {
    width: 25vw;
    margin-left: 2rem;
    margin-top: 5rem;
}
img {
    width: 100%;
}

.icons {
    text-align: center;
}


/* MEDIA QUERIES */
@media screen and (max-width: 426px)  {
    .contact-table{
        width: 95vw;   
    } 
}
@media screen and (max-width: 1023px) {
    .email-col {
        display: none;
    } 
}
@media screen and (min-width: 1440px) {
    .mat-cell {
        min-width: 130px;
    }
}




