
<div class="form">
    <div class="name">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Ime</mat-label>
            <input matInput placeholder="Ime">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Prezime</mat-label>
            <input matInput placeholder="Prezime">
        </mat-form-field>
    </div>
    <div class="email">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="E-mail">
        </mat-form-field>
    </div>
    <div class="phone">
        <mat-form-field appearance="fill">
            <mat-label>Broj telefona</mat-label>
            <mat-select>
              <mat-option value="Option 1">Option 1</mat-option>
              <mat-option value="Option 2">Option 2</mat-option>
              <mat-option value="Option 3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <!-- <mat-label>Broj telefona</mat-label> -->
            <input matInput>
            <mat-hint>Unesite ostatak broja</mat-hint>
        </mat-form-field>
    </div>
    <div class="address">
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Ulica i kućni broj</mat-label>
            <input matInput placeholder="Ulica i kućni broj">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Poštanski broj</mat-label>
            <input matInput placeholder="Poštanski broj">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Grad</mat-label>
            <input matInput placeholder="Grad">
        </mat-form-field>
    </div>
    <div class="birth-date">
        
    </div>
    
</div>
