.container {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset-form-container {
    margin-top: 4rem;
}

.mat-form-field {
    width: 100%;
}

h1 {
    margin-top: 3rem;
}