<div class="container flex">
    <h1>Ponovno postavljanje lozinke</h1>
    <div class="reset-form-container flex">
 
        <form  
        [formGroup]="resetForm"
        (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>E-mail</mat-label>
                <input 
                    matInput 
                    placeholder="E-mail"
                    formControlName="email">
                    <mat-error *ngIf="resetForm.get('email').hasError('required')">Ovo polje je obavezno!</mat-error>
                    <mat-error *ngIf="resetForm.get('email').hasError('email')">Upišite ispravnu e-mail adresu!</mat-error>
            </mat-form-field>
            <div class="reset-btn">
                <button
                type="submit" 
                class="btn-accent" 
                mat-flat-button 
                color="accent"
                [disabled]="!resetForm.valid">Slanje koda za ponovno postavljanje lozinke</button>
            </div>
            
        </form>
    </div>
</div>

