/* OBRAZAC ZA PRIJAVU */

.mat-form-field {
    width: 100%;
    max-width: 21.875rem;
}

.auth-actions {
    flex-wrap: wrap;
    max-width: 21.875rem;
}

.auth-actions button {
    width: 100%;
    margin-top: .5rem;
}

/* IMAGE */
.auth-image {
    text-align: center;
}

img {
    width: 70%;
}

.forgotten-password {
    color: #004D40;
    cursor: pointer;
}


