
/* OBRAZAC ZA PRIJAVU */
.auth-form {
    flex-basis: 100%;
}
.spinner {
    text-align: center;
}
form {
    flex-direction: column;
}
img { 
    position: fixed;
}

.forgotten-password {
    color: #004D40;
    cursor: pointer;
}

/* AUTH ACTIONS */
.auth-actions button{
    margin-top: .5rem;
}
.auth-actions {
    flex-direction: column;
}


/* MEDIA QUERIES */
@media screen and (max-width: 767px){
    .auth-image {
        display: none ;
    }
} 
@media screen and (min-width: 768px) {
    .auth-form {
        flex-basis: 30%;
    }
    .auth-image {
        flex-basis: 70% ;
    }
}

@media screen and (min-width: 1024px) {
    .auth-actions {
        flex-direction: row;
    }
    .auth-actions button{
        margin-right: .5rem;
    }
}

   