/* OBRAZAC ZA PODATKE O KONTAKTU */
.flex {
    flex-wrap: wrap;
}

.form-container {
    flex-wrap: nowrap;
}

button {
    width: 100%;
    margin-top: .5rem;
}
mat-form-field {
    width: 100%;
}

.phone {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.phone-select {
    width: 30%;
    max-width: 6rem;
}
.phone-num {
    width: 69%;
}

.address {
    flex-wrap: wrap;
}

.contact-form {
    width: 100%;
    max-width: 100rem;
}
img {
    width: 80%;
}
.contact-image {
    max-width:  40%;
    margin-top: 4rem;
    text-align: center;
}


@media screen and (min-width: 768px) {
    button {
        width: 11rem;
        margin-right: .5rem;
    }

    .phone {
        justify-content: flex-start;
    }
    .phone-num {
        width: 11rem;
    }
    mat-form-field {
        width: 11rem;
        margin-right: .5rem;
    }
   
}
