mat-form-field {
    margin-right: .5rem;
}

.phone-select {
    width: 30%;
}

.form-group {
    margin-top: .5rem;
}
.form-group:last-child {
    margin-right: 0px;
}

button {
    margin-top: .5rem;
}


@media screen and (max-width: 767px){
    mat-form-field {
        width: 100%;
    }
    .phone-num {
        margin-right: 0px;
        width: 68%;
    }
    button {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    button {
        margin-right: .5rem;
    }
} 

@media screen and (min-width: 1024px) {
    .form-group {
    width: 80% 
    }
    .phone-select {
        width: 20%;
    }
}