/* GENERALNI STILOVI */
html, body {
    box-sizing: border-box;
}
body { 
    margin: 0; 
    font-family: 'Poppins', "Helvetica Neue", sans-serif; 
    overflow: overlay;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.flex {
    display: flex;
} 

.spinner {
    text-align: center;
    margin-top: 3rem;
}

.mat-progress-spinner {
    display: inline-block!important;
}

.active {
    background-color: #ecf7f6;
}


/* KOMPONENTE */
.btn-primary:hover {
    background-color: #ecf7f6;
}

.btn-accent:hover {
    background-color: #01584a;
    color: #ecf7f6;
}


/* CONTAINER */
.container {
    padding: 2rem 2rem;
}


/* DIALOG */
.custom-modalbox mat-dialog-container {
        padding: 2rem;
        text-align: center;
        color: red; 
}


.mat-dialog-actions {
    justify-content: center;
}

app-loading-spinner {
    text-align: center;
}


/*  MEDIA QUERIES  */
@media screen and (max-width: 767px) {
    .image {
        display: none;
    }
}

/* @media screen and (min-width: 768px) {
    body {
        overflow-y: overlay;
    }
} */