.details-form {
    flex-basis: 60%;
}

.image {
    flex-basis: 40%;
    margin-top: 8rem;
}

img {
    width: 100%;
}

mat-icon {
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .container {
        flex-direction: column;
    }    
}

@media screen and (min-width: 1440px){
    .details-image {
        margin-top: 4rem;
    }
    img {
        width: 80%;
    }    
}